.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom left, #6B16AD, #B31476);
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Space out elements to the left and right */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    color: white; /* Text color set to white */
}

.navbar-title {
    font-size: 2rem;
    color: white; /* Ensure the title color is white */
}

.navbar-user-info {
    display: flex; /* Use flexbox for aligning user info and logout button */
    align-items: center;
    margin-left: auto; /* Push the user info and logout button to the right */
}

.navbar-username {
    margin-right: 30px;

}

.logout-button {
    background-color: #c0190d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 30px;
}

.logout-button:hover {
    background-color: #d32f2f;
}
